# Parallel Processing in Python

In [1]:
import random
import pandas as pd
import numpy as np
from multiprocessing import Pool

import pandas as pd

file_name = "https://raw.githubusercontent.com/rajeevratan84/datascienceforbusiness/master/new_york_hotels.csv"
df = pd.read_csv(file_name, encoding = "ISO-8859-1")
df.head()

   ean_hotel_id                                     name  ... high_rate  low_rate
0        269955       Hilton Garden Inn Albany/SUNY Area  ...  154.0272  124.0216
1        113431     Courtyard by Marriott Albany Thruway  ...  179.0100  134.0000
2        108151                    Radisson Hotel Albany  ...  134.1700   84.1600
3        254756  Hilton Garden Inn Albany Medical Center  ...  308.2807  228.4597
4        198232  CrestHill Suites SUNY University Albany  ...  169.3900   89.3900

[5 rows x 11 columns]

In [3]:
# Define a basic Haversine distance formula
def haversine(df):
    lat1, lon1, lat2, lon2 = 40.671, -73.985, df['latitude'].values, df['longitude'].values
    MILES = 3959
    lat1, lon1, lat2, lon2 = map(np.deg2rad, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1 
    dlon = lon2 - lon1 
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    total_miles = MILES * c
    df["distance"] = total_miles
    return df

In [4]:
%%timeit

# Vectorized implementation of Haversine applied on NumPy arrays (note we remove the values to access the numpy series)
distance_df = haversine(df)

The slowest run took 10.68 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 5: 260 µs per loop

In [5]:
def parallelize_dataframe(df, func, n_cores=4):
    df_split = np.array_split(df, n_cores)
    pool = Pool(n_cores)
    df = pd.concat(pool.map(func, df_split))
    pool.close()
    pool.join()
    return df

In [6]:
%%timeit

distance_df = parallelize_dataframe(df, haversine)

10 loops, best of 5: 137 ms per loop